# Stance Detection for the Fake News Challenge

## Identifying Textual Relationships with Deep Neural Nets

### Check the problem context [here](https://drive.google.com/open?id=1KfWaZyQdGBw8AUTacJ2yY86Yxgw2Xwq0).

### Download files required for the project from [here](https://drive.google.com/open?id=10yf39ifEwVihw4xeJJR60oeFBY30Y5J8).

## Step1: Load the given dataset  

1. Mount the google drive

2. Import Glove embeddings

3. Import the test and train datasets

### Mount the google drive to access required project files

Run the below commands

In [0]:
from google.colab import drive

In [0]:
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive/

#### Path for Project files on google drive

**Note:** You need to change this path according where you have kept the files in google drive.

In [0]:
project_path = "/content/drive/My Drive/Fake News Challenge/"

### Loading the Glove Embeddings

In [0]:
from zipfile import ZipFile
with ZipFile(project_path+'glove.6B.zip', 'r') as z:
  z.extractall()

# Load the dataset [5 Marks]

1. Using [read_csv()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) in pandas load the given train datasets files **`train_bodies.csv`** and **`train_stances.csv`**

2. Using [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) command in pandas merge the two datasets based on the Body ID. 

Note: Save the final merged dataset in a dataframe with name **`dataset`**.

In [0]:
import pandas as pd

In [0]:
df1=pd.read_csv(project_path+'train_bodies.csv')

In [0]:
df2=pd.read_csv(project_path+'train_stances.csv')

In [0]:
dataset=pd.merge(df1,df2,on="Body ID")


<h2> Check1:</h2>
  
<h3> You should see the below output if you run `dataset.head()` command as given below </h3>

In [0]:
dataset.head()

   Body ID  ...     Stance
0        0  ...  unrelated
1        0  ...  unrelated
2        0  ...  unrelated
3        0  ...  unrelated
4        0  ...  unrelated

[5 rows x 4 columns]

## Step2: Data Pre-processing and setting some hyper parameters needed for model


#### Run the code given below to set the required parameters.

1. `MAX_SENTS` = Maximum no.of sentences to consider in an article.

2. `MAX_SENT_LENGTH` = Maximum no.of words to consider in a sentence.

3. `MAX_NB_WORDS` = Maximum no.of words in the total vocabualry.

4. `MAX_SENTS_HEADING` = Maximum no.of sentences to consider in a heading of an article.

In [0]:
MAX_NB_WORDS = 20000
MAX_SENTS = 20
MAX_SENTS_HEADING = 1
MAX_SENT_LENGTH = 20
VALIDATION_SPLIT = 0.2

### Download the `Punkt` from nltk using the commands given below. This is for sentence tokenization.

For more info on how to use it, read [this](https://stackoverflow.com/questions/35275001/use-of-punktsentencetokenizer-in-nltk).

In [0]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

# Tokenizing the text and loading the pre-trained Glove word embeddings for each token  [5 marks]

Keras provides [Tokenizer API](https://keras.io/preprocessing/text/) for preparing text. Read it before going any further.

#### Import the Tokenizer from keras preprocessing text

In [0]:
from keras.preprocessing.text import Tokenizer

#### Initialize the Tokenizer class with maximum vocabulary count as `MAX_NB_WORDS` initialized at the start of step2.

In [0]:
t=Tokenizer(num_words=MAX_NB_WORDS,filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n', lower=True)

#### Now, using fit_on_texts() from Tokenizer class, lets encode the data 

Note: We need to fit articleBody and Headline also to cover all the words.

In [0]:
dataset.head()

   Body ID  ...     Stance
0        0  ...  unrelated
1        0  ...  unrelated
2        0  ...  unrelated
3        0  ...  unrelated
4        0  ...  unrelated

[5 rows x 4 columns]

In [0]:
text_total=['dataset.articleBody','dataset.Headline']

In [0]:
t.fit_on_texts(text_total)

In [0]:
t.word_counts

In [0]:
t.word_docs

In [0]:
wrd_idx=t.word_index

In [0]:
t.document_count

49982

#### fit_on_texts() gives the following attributes in the output as given [here](https://faroit.github.io/keras-docs/1.2.2/preprocessing/text/).

* **word_counts:** dictionary mapping words (str) to the number of times they appeared on during fit. Only set after fit_on_texts was called.

* **word_docs:** dictionary mapping words (str) to the number of documents/texts they appeared on during fit. Only set after fit_on_texts was called.

* **word_index:** dictionary mapping words (str) to their rank/index (int). Only set after fit_on_texts was called.

* **document_count:** int. Number of documents (texts/sequences) the tokenizer was trained on. Only set after fit_on_texts or fit_on_sequences was called.

### Now, tokenize the sentences using nltk sent_tokenize() and encode the senteces with the ids we got form the above `t.word_index`

Initialise 2 lists with names `texts` and `articles`.

```
texts = [] to store text of article as it is.

articles = [] split the above text into a list of sentences.
```

In [0]:
texts=dataset.articleBody

In [0]:
articles=texts.apply(sent_tokenize)

In [0]:
from nltk.tokenize import sent_tokenize

## Check 2:

first element of texts and articles should be as given below.

In [0]:
texts[4500]

'A rumor that Robert Plant ripped up an $800 million contract offer to reunite Led Zeppelin has been called "rubbish" by Plant\'s publicist.\n\nAs reported by the Daily Mirror, Plant, as well as former bandmates Jimmy Page and John Paul Jones, and Jason Bonham, son of the late drummer John Bonham, were offered $800 million by Virgin mogul Sir Richard Branson to perform a 35-date, three-city reunion tour. The story went that while Page, Jones and Bonham reportedly signed up immediately, Plant ripped up the papers right in front of his colleagues. Plant\'s publicist later debunked the report to The Guardian.\n\nIf the news was real, it would have been a treat for Zeppelin fans. Each of the three original members were scheduled to make over $200 million just for performing, and another $100 million in merchandise split between them all. Scheduled to perform in London, Berlin and New Jersey, Branson was preparing to rename one of his jumbo jets "The Starship," in order to fly the band to each of its destinations. He also wanted rebrand the jet\'s staircase as the "Stairway to Heaven," and had an optional 45-date tour extension should the band agree.\n\nHuffPost Entertainment contacted representatives for Plant and Branson to see if they had any further comment on the story. This post will be updated if and when they provide a response.\n\nFor more, head to The Guardian.'

In [0]:
articles[4500]

['A rumor that Robert Plant ripped up an $800 million contract offer to reunite Led Zeppelin has been called "rubbish" by Plant\'s publicist.',
 'As reported by the Daily Mirror, Plant, as well as former bandmates Jimmy Page and John Paul Jones, and Jason Bonham, son of the late drummer John Bonham, were offered $800 million by Virgin mogul Sir Richard Branson to perform a 35-date, three-city reunion tour.',
 'The story went that while Page, Jones and Bonham reportedly signed up immediately, Plant ripped up the papers right in front of his colleagues.',
 "Plant's publicist later debunked the report to The Guardian.",
 'If the news was real, it would have been a treat for Zeppelin fans.',
 'Each of the three original members were scheduled to make over $200 million just for performing, and another $100 million in merchandise split between them all.',
 'Scheduled to perform in London, Berlin and New Jersey, Branson was preparing to rename one of his jumbo jets "The Starship," in order to fly the band to each of its destinations.',
 'He also wanted rebrand the jet\'s staircase as the "Stairway to Heaven," and had an optional 45-date tour extension should the band agree.',
 'HuffPost Entertainment contacted representatives for Plant and Branson to see if they had any further comment on the story.',
 'This post will be updated if and when they provide a response.',
 'For more, head to The Guardian.']

# Now iterate through each article and each sentence to encode the words into ids using t.word_index  [5 marks] 

Here, to get words from sentence you can use `text_to_word_sequence` from keras preprocessing text.

1. Import text_to_word_sequence

2. Initialize a variable of shape (no.of articles, MAX_SENTS, MAX_SENT_LENGTH) with name `data` with zeros first (you can use numpy [np.zeros](https://docs.scipy.org/doc/numpy/reference/generated/numpy.zeros.html) to initialize with all zeros)and then update it while iterating through the words and sentences in each article.

In [0]:
from keras.preprocessing.text import text_to_word_sequence

In [0]:
import numpy as np

In [0]:
data = np.zeros((len(articles),MAX_SENTS,MAX_SENT_LENGTH))

In [0]:
for i,val in enumerate(articles):
    X = text_to_word_sequence(texts[i])
    word2id=t.word_index
    id2word = {idx: word for (word, idx) in word2id.items()}
    wid=[id2word[idx] for idx in X[0]]
    w_idx=t.word_index()
    print(w_idx)

### Check 3:

Accessing first element in data should give something like given below.

In [0]:
data[0, :, :]

# Repeat the same process for the `Headings` as well. Use variables with names `texts_heading` and `articles_heading` accordingly. [5 marks]

In [0]:
for i,val in enumerate(dataset.Heading):
    X = text_to_word_sequence(texts[i])
    word2id=t.word_index
    id2word = {idx: word for (word, idx) in word2id.items()}
    wid=[id2word[idx] for idx in X[0]]
    w_idx=t.word_index()
    print(w_idx)

### Now the features are ready, lets make the labels ready for the model to process.

### Convert labels into one-hot vectors

You can use [get_dummies](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) in pandas to create one-hot vectors.

### Check 4:

The shape of data and labels shoould match the given below numbers.

In [0]:
print('Shape of data tensor:', data.shape)
print('Shape of label tensor:', labels.shape)

Shape of data tensor: (49972, 20, 20)
Shape of label tensor: (49972, 4)

### Shuffle the data

In [0]:
## get numbers upto no.of articles
indices = np.arange(data.shape[0])
## shuffle the numbers
np.random.shuffle(indices)

In [0]:
## shuffle the data
data = data[indices]
data_heading = data_heading[indices]
## shuffle the labels according to data
labels = labels[indices]

### Split into train and validation sets. Split the train set 80:20 ratio to get the train and validation sets.


Use the variable names as given below:

x_train, x_val - for body of articles.

x-heading_train, x_heading_val - for heading of articles.

y_train - for training labels.

y_val - for validation labels.

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_train,x_val=train_test_split(train.articleBody,test_size=0.20)

In [0]:
x_heading_train,x_heading_val=train_test_split(dataset.Headline,test_size=0.20)

In [0]:
y_train,y_val=train_test_split(dataset.Stance,test_size=0.20)

### Check 5:

The shape of x_train, x_val, y_train and y_val should match the below numbers.

In [0]:
print(x_train.shape)
print(y_train.shape)

print(x_val.shape)
print(y_val.shape)

(39978, 20, 20)
(39978, 4)
(9994, 20, 20)
(9994, 4)

### Create embedding matrix with the glove embeddings


Run the below code to create embedding_matrix which has all the words and their glove embedding if present in glove word list.

In [0]:
# load the whole embedding into memory
embeddings_index = dict()
f = open('./glove.6B.100d.txt')
for line in f:
	values = line.split()
	word = values[0]
	coefs = np.asarray(values[1:], dtype='float32')
	embeddings_index[word] = coefs
f.close()
print('Loaded %s word vectors.' % len(embeddings_index))

# create a weight matrix for words in training docs
embedding_matrix = np.zeros((vocab_size, 100))


for word, i in t.word_index.items():
	embedding_vector = embeddings_index.get(word)
	if embedding_vector is not None:
		embedding_matrix[i] = embedding_vector

Loaded 400000 word vectors.

# Try the sequential model approach and report the accuracy score. [10 marks]

### Import layers from Keras to build the model

In [0]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence

### Model

In [0]:
model = Sequential(
    [
     
        Embedding(MAX_NB_WORDS,
                         EMBEDDING_DIM, 
                         input_length=MAX_SENT_LENGTH,
                         trainable=True),
        Conv1D(128, 5, activation='relu'),
        GlobalMaxPooling1D(),
        
        Dense(128, activation='relu'),
        Dense(1, activation='sigmoid')
    ])

### Compile and fit the model

In [0]:
model.compile(loss='binary_crossentropy',
              optimizer='rmsprop',
              metrics=['accuracy'])

In [0]:
model.fit()

## Build the same model with attention layers included for better performance (Optional)

## Fit the model and report the accuracy score for the model with attention layer (Optional)